@{
  Layout = "_Layout";
}

@model Restaurant_Listing.Models.Restaurant

<h2>Restaurant Details</h2>
<hr />
<h3>Name: @Html.DisplayFor(model => model.Name)</h3>
<h3>Description: @Html.DisplayFor(model => model.Description)</h3>

<p>@Html.ActionLink("Edit Restaurant", "Edit")</p>
<p>@Html.ActionLink("Back to list", "Index")</p>