@{
  Layout = "_Layout";
}

@model Restaurant_Listing.Models.Cuisine

<h4>Add a new cuisine</h4>
@using (Html.BeginForm())
{
  <div>@Html.LabelFor(model => model.Name)</div>
  <div>@Html.TextBoxFor(model => model.Name)</div>
  <button class="green" type="submit">Add Cuisine Type</button>
}

<a href='@Url.Action("Index")'>
  <button>Exit Without Saving</button>
</a>