@{
  Layout = "_Layout";
}

@using Restaurant_Listing.Models;

<h1>Cuisine Types</h1>

@if (@Model.Count == 0)
{
  <h3>No cuisines have been added yet!</h3>
} 

<ul>
  @foreach(Cuisine cuisine in Model)
  {
    <li>@Html.ActionLink($"{cuisine.Name}", "Details", new { id = cuisine.CuisineId })</li>
  }
</ul>

<a href='@Url.Action("Create")'>
  <button>Add New Cuisine</button>
</a>
<a href='@Url.Action("Index", "Home")'>
  <button>Home</button>
</a>