@{
  Layout = "_Layout";
}
<h1>Welcome to the Restaurant Listings!</h1>

<h3>@Html.ActionLink("See all cuisine types", "Index", "Cuisines")</h3>
<h3>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</h3>