@{
  Layout = "_Layout";
}
<h1>Welcome to the Restaurant Listings!</h1>


<a href='@Url.Action("Index", "Cuisines")'>
  <button>See Cuisine Types</button>
</a>
<a href='@Url.Action("Index", "Restaurants")'>
  <button>See Restaurants</button>
</a>